/* LES BASES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #8e44ad;
  --dark: #2c3e50;
  --background-light: #ecf0f1;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
  --danger: #e74c3c;
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
ul {
  list-style: none;
}
li {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  /* font-size: 1.6rem; */
  color: var(--dark);
}
img {
  max-width: 100%;
}
form {
  margin: 1rem 0rem 2rem 0rem;
}
.genre {
  max-width: fit-content;
}
.containerGenre {
  width: 25rem;
}
.labelInput {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
input {
  width: 25rem;
  padding: 0.5rem;
}
select {
  width: 25rem;
  padding: 0.6rem;
}
label {
  font-size: 1.5rem;
  margin-right: 3rem;
  width: 10rem;
}
.d {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textError {
  color: var(--danger);
}
.btn {
  background-color: white;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.6rem;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
  box-shadow: var(--box-shadow);
}
.btn-primary {
  background-color: var(--primary);
  color: var(--text-color-light);
}
.btn-danger {
  background-color: var(--danger);
  color: var(--text-color-light);
  cursor: pointer;
}
